#header {
    width: 170px;
    display: flex;
    align-items: flex-start;
    position: fixed;
    right: -120px;
    transition-duration: 200ms;
    z-index: 10;
}

#header.expand {
    right: 0px;
}

#header .arrow {
    color: var(--interact);
    width: 40px;
    height: auto;
    margin: 18px 15px 0 0;
    cursor: pointer;
    transition-duration: 200ms;
}

#header .arrow:hover {
    color: var(--active);
}

#header .arrow.expand {
    transform: rotate(180deg);
}

#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-transform: uppercase;
}

#header li {
    margin: 20px 0;
}

@media screen and (max-width: 800px) {
    #header {
        background-color: var(--bg);
    }
}