.form-counterform-grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto auto;
}

.form-counterform-letter {
    width: 100%;
    height: auto;
}

.form-counterform-grids-container {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.grid-and-caption {
    width: 30%;
}

.grid-caption {
    color: var(--active);
    margin: 10px 0 0 0;
}

@media screen and (max-width:640px) {
    .form-counterform-grids-container {
        flex-direction: column;
    }

    .grid-and-caption {
        width: 100%;
        margin-bottom: 40px;
    }
}