#work {
    min-height: 100vh;
}

.placeholder p {
    padding: 50px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
}

.work-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 20;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.work-nav button {
    background: none;
    border: none;
    color: var(--interact);
    font-family: inherit;
    text-transform: uppercase;
    transition-duration: 200ms;
    cursor: pointer;
    font-weight: 600;
    font-size: 26px;
}

.work-nav button:hover {
    color: var(--active);
}

.work-img {
    width: 100%;
}

.work-subtitle {
    margin: 10px 0 60px 0;
    font-size: 16px;
    line-height: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--text);
}

#htlo, #typography, #kinematix {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}



/** KINEMATIX **/
img.summer-workshop-big {
    width: 49%
}

.big-summer-workshops {
    display: flex;
    justify-content: space-between;
}

img.summer-workshop-small {
    width: 23.5%;
}

.small-summer-workshops {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

img.summer-workshop-small-fb {
    width: 32%
}

.ebo-box {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 20px;
}

.ebo-box:hover .ebo-img {
    scale: 0.8;
}

.ebo-img {
    width: 25%;
    transition-duration: 200ms;
}

@media screen and (max-width: 720px) {
    img.summer-workshop-big {
        width: 100%;
        margin-bottom: 4%;
    }

    .big-summer-workshops {
        flex-direction: column;
    }

    img.summer-workshop-small {
        width: 48%;
        margin-bottom: 4%;
    }

    .small-summer-workshops {
        flex-wrap: wrap;
        margin-top: 0%;
    }
}